
/* styles.css */

/* Aseguramos que el contenido del iframe se ajuste correctamente */

html, body {
    height: auto;
}


body {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

.installments-info {
    font-size: 14px;
    font-weight: 400;
    padding: 5px 0px 0px 10px;
    font-family: 'Chivo', sans-serif;
}

  /* Aplica a todas las tablas */
  table {
    background-color: transparent !important;
    color: #fff !important;
    width: 100%;
    border-collapse: collapse;
  }

  /* Aplica a todas las celdas y cabeceras */
  table td, table th {
    background-color: transparent !important;
    color: #fff !important;
    font-family: 'Chivo', sans-serif;
    font-size: 14px;
    padding: 10px;
    border: none;
  }

  /* Aplica a clases específicas usadas en tu contenido */
  .detail-cell,
  .installments-info,
  .atributos,
  .entrega,
  .product-details {
    background-color: transparent !important;
    color: #fff !important;
  }

  /* Si hay spans con fondo blanco embebido en HTML */
  span {
    background-color: transparent !important;
    color: #fff !important;
  }

  /* Opcional: imágenes full ancho responsivas */
  table img {
    max-width: 100%;
    height: auto;
    display: block;
  }

  /* Opcional: sombras de texto para mejor visibilidad en fondo negro */
  table td, table th, span {
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
  }


img {
    max-width: 100%;
    height: auto;
}

.detail-cell {
	width: 98%;
	text-align: justify;
	background-color: #fff;
}

.whynot {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Chivo', sans-serif;
    text-align: justify;
	padding: 5px 0px 0px 0px;
}

.carrito {
	width: 95%;
	font-family: 'Chivo', sans-serif;
	font-size: 14px;
    text-align: left;
	white-space: normal;
	padding: 25px 0px 18px 0px;
}

.carrito1 {
	width: 95%;
	font-family: 'Chivo', sans-serif;
	font-size: 14px;
    text-align: left;
	white-space: normal;
	padding: 5px 0px 5px 0px;
}

.whatsapp {
	width: 95%;
	font-family: 'Chivo', sans-serif;
	font-size: 14px;
	text-align: left;
}

.line-before::before {
	content: "";
	display: block;
	border-top: 2px solid #ccc;
	margin-bottom: 15px;
}

.line1::before {
	content: "";
	display: block;
	border-top: 2px solid #ccc;
	margin-bottom: 5px;
}

.banner {
	padding: 18px 0px 5px 0px;
}

.titulo {
	width: 95%;
	font-family: 'Chivo', sans-serif;
	font-size: 16px;
	white-space: normal;
    text-align: left;
	padding: 10px 0px 18px 0px;
}

.consulta {
	width: 95%;
	font-family: 'Chivo', sans-serif;
	font-size: 17px;
	white-space: normal;
	padding: 10px 0px 18px 0px;
}



